/* Styles used in standard forms used on apps (with an appForm) class. */
@use 'sass:color';
@import 'variables';
$labelWidth: 400px;
$inputWidth: 240px;
.appForm {

	label, 
	.formItem {
		/*overflow auto is required for something, maybe... I can't remember what,
		  but it breaks chosen dropdowns */
		/*overflow:auto;*/
		font-weight:bold;
		display:block;
		/*margin-bottom:20px;*/
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		width:$labelWidth;

		
		// Markdown fields within formbuilder completed stages
		div.markdown {
			width:100%;
			flex-basis:100%;
			border: 1px solid rgb(169, 169, 169);
			padding:4px;
			font-weight:normal;
		}

		input,
		select,
		.formGroup,
		.prefill {
			display:block;
			margin-left:auto;
			width:$inputWidth;
			// flex-basis:$inputWidth;
			font-weight:normal;

		}


		/* For showing a group of inputs side by side. */
		.formGroup {
			// Experimental - used on HR changes to vertically align iCheck radio button text
			display:flex;
			align-items:start;
			flex-wrap: wrap;

			input,
			select,
			label,
			span {
				// Changed from inline block to vertically align iCheck radio buttons
				display:flex;
				flex-wrap:nowrap;
				align-items:center;
			}

			span {
				font-weight:normal;
			}

			label {
				width:auto;
				margin-right:12px;
				font-weight:normal;
				// Give checkboxes and their labels a grouped look. Still testing this, I think it looks nice.
				margin:0 3px 3px 0px;
				margin-top:0;
				border:1px solid rgba(127,127,127,0.20);
				padding-left: 2px;
				padding-right: 4px;
				padding-bottom:0px;
				border-radius:3px;
				background-color:rgba(127,127,127,0.05);
				white-space: nowrap;
				&.checked {
					border-color: color.scale($accentColor, $lightness: +10%);
					background-color:transparent;
					&:hover {
						border-color:$accentColor;
					}
				}				
			}

			label:hover {
				border-color: rgba(127,127,127,0.5);
				background-color:rgba(127,127,127,0.025);
			}

			label:last-child {
				margin:0;
			}

			label input[type] {
				width:auto;
				margin:3px 5px 3px 2px;
			}

		}//end .formGroup		

		//Originally From Forms/forms.css 
		.checkGroup {
			margin-bottom:15px;
			display:block;
			min-width:$inputWidth;

			input[type="checkbox"], input[type="radio"] {
				float:none;
				display:inline;
				vertical-align: middle;
				margin-right:4px;
			}

			.icheckbox_square-blue {
				margin-right:4px;
			}			

			label {
				display:inline;
				font-weight:normal;
				vertical-align:middle;
			}

			label:first-child {
				display:block;
				margin-bottom:5px;
			}		

		}//.checkGroup

		span.required {
			color:red;
			font-weight:normal;
			font-size:14px;
			flex:auto;
		}


		input[type="checkbox"], input[type="radio"] {
			width:15px;
			// margin-right:$inputWidth - 15px;
		}

		.checkboxLeft {
			display: inline-block;
			width:$inputWidth;

			input[type="checkbox"] {
				margin-left:0;
				margin-right:0;
				width: initial;
				display:inline;
			}
		}


		.icheckbox_square-blue {
			margin-right:$inputWidth - 22px;
		}

		.error {
			font-weight:normal;
			/*white-space: nowrap;*/ /*be careful with this one*/
			display:block;
			width:100%;
			padding-top:5px;
			text-align: left;
			clear:both;
		} 

		.error.hidden,
		.error.eplhidden {
			display:none;
		}

 		.helpIcon {
			flex:auto;
			margin-left:3px;
		}


	}//label, .formItem

	label.centered, .formItem.centered {
		input, button {
			margin:auto;
		}
	}

	/*Without a field separator, there's 20px of padding above each label */
	>label+label,
	>label+.formItem,
	>.formItem+.formItem,
	>.formItem+label,
	.sectionContents>label+label,
	fieldset label+label {
		padding-top:20px;
	}

	label.optional {
		font-weight:normal;
	}


	/* Special code to handle Chosen dropdowns */
	.chosen-container {
		font-weight:normal;
		overflow:visible;
	}

	/*I don't know why, but if this is any less than 5px, the items won't show*/
	.chosen-container .chosen-results {
		padding-left:5px;
	}

	textarea {
		width:100%;
	}

	.formSubmit {
		text-align: center;

		input,
		label input {
			display:block;
			margin:0 auto;
			// float:none !important;
			font-size:20px;
		}
	}

	.noticeBox {
		width:100%;
		text-align: center;
	}

	/*fieldSeparator DIVs can be used to add space between fields... 
	maybe I can do this another way.*/
	.fieldSeparator {
		clear:both;
		padding-top:20px;
	}



	/* Some special styles for forms that are centered on the page 
		These are used for very simple forms, like a login form in a popup */
	&.centeredForm label {
		input, .checkboxLeft {
			width:275px;
		}
	}

	&.centeredForm label .checkboxLeft input {
		width: initial;
	}

	&.centeredForm {
		width: $labelWidth;
		margin:0 auto;

	}

	&.centeredForm label.formSubmit input {
		width:100%;
	}



	fieldset {
		margin-top:20px;
		width: $labelWidth;
		padding-top:11px;
		padding-left:11px;
		padding-right:11px;

		label,
		.formItem {
			width:374px;
		}

		label input,
		label select,
		.formGroup,
		label .prefill {
			width: 229px;
		}
	}//end fieldset






	.fieldDesc, .dataDesc, .optionList {
		margin-top:5px;
		font-weight:normal;
	}

	.labelDesc {
		width:100%;
		font-size:11px;
		display:block;
		margin-top:6px;
	}	



	/* Customizations to SimpleMDE Markdown Editor within appForm forms */
	.CodeMirror, .CodeMirror-scroll {
		min-height: 100px;
		font-weight: normal;
	}

	.editor-toolbar {
		padding: 0 1px;
	}

	.editor-toolbar:before {
		margin-bottom: 0px;
	}

	.editor-toolbar:after {
		margin-top: 0px;
	}

	.CodeMirror {
		padding: 3px;
	}

	.editor-toolbar.fullscreen,
	.CodeMirror-fullscreen {
		z-index: 13;
	}

	.editor-toolbar, .CodeMirror.CodeMirror-wrap {
		width: 100%;
	}



	/* Responsive form elements for small screens */
	@media (max-width:450px) {

		&.centeredForm label input {
			width:100%;
			flex-basis:100%
		}

		&.centeredForm {
			width:100%;
		}	

		/* Font size on iOS is pretty small in input fields by default.
		16px is needed on phones to prevent auto-zooming */
		input,
		textarea,
		select {
			font-size: 16px;
		}


		label {
			font-weight:bold;
			/* I don't know why the below was set... it looked really goofy and added too much space.*/
			/* Commented out by JDL on Oct 1 2019*/
			/*margin-bottom:15px;*/
			width:100%;
			// flex-basis:100%;
			/* overflow:auto covers chosen dropdowns */
			/*overflow:auto;*/

			.checkboxLeft {
				width: auto;
			}
		}

		.formItem,
		.formItem .formGroup {
			// display:block;
			width:100%;
		}

		label input,
		label select,
		.formItem .formGroup {
			width:100%;
			flex-basis:100%;
			// float:none;
		}


		label input[type="checkbox"] {
			width:15px;
			margin-right:0;
		}

		/* Used in FormBuilder Forms */
		.formSection {
			margin-left:0px;
			margin-right:0px;
			/*border:1px solid #BBBBBB;*/
			border:none;
		}

		.sectionContents {
			padding-left:3px;
			padding-right:3px;
		}

	}//@max-width:450px;



}//End .appForm


/* filterForm is used by filterTable for the search filter form inputs */

/* The filterform styles will be added into the appForm stylesheet, I think */
#filterForm {
	display:flex;
	flex-wrap: wrap;
	align-items:center;

	h3 {
		margin:0;
		flex-basis:100%;
	}

	label, .formItem {
		margin:6px;
	}

	// By default we don't show the sortby dropdown
	label[for="sortBy"] {
		display:none;
	}

	.formGroup label {
		margin:0;
	}

	.year {
		width:80px;
	}

	.month {
		width:115px;
	}

	.day {
		width:72px;
	}

	.button {
		padding-top:2px;
		padding-bottom:2px;
	}

	.formItem {
		label {
			font-weight: bold;
		    background-color: rgba(128,128,128,0.2);
		    margin: 0 3px;
		    border-radius: 4px;
		    padding: 2px 4px;
		    border: 1px solid rgba(127, 127, 127, 0.3);

			&:hover {
				border-color: rgba(127, 127, 127, 0.5);
				background-color: rgba(127, 127, 127, 0.025);
			}
		}

		input[type="radio"] {
			/* Any time you use vertical align, you're gonna have a bad time */
			vertical-align:text-top;
			margin-right:0;
		}
	}//end .formItem

	.deleteRow {
		text-align: center;
	}

}//End #filterForm

// Links that can be clicked to change sort order
.sortLink {
    white-space: nowrap;
}




