@import 'variables';

// Development warnings
#appsBody .devWarn {
	padding:3px;
	margin:0;

	a {
		color:inherit;
	}
}

/* Used for the header present on almost all apps pages (ones using appsHeader.cfm) */
#innerHeader {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
}

#headerLeftSection {
	display:flex;
	justify-content:flex-start;
	align-items:center;


	a+a {
		margin-left:15px;
	}

	#yourImage {
		margin-left:3px;
	}

	#headerUsername {
		margin-left:8px;
		color:white;
	}

}//#headerLeftSection

/* Style for Sidebar Hamburger Button */
#sidebarButton {
	width:40px;
	display:none;

	/* Make the Buns/patty of the hamburger */
	div {
		background-color:white;
		height:6px;
		width:40px;
		margin:4px 0 5px 0;
		font-size:6px;
		color:black;
		text-align: center;
	}
}


#yourImage {
	width:32px;
	height:32px;
	margin-left:4px;
	margin-top:3px;
	margin-bottom:3px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:cover;
	// make it a circle :P
	border-radius:32px;
	border:1px solid white;
}


#headerEPLLogo {
	display:flex;
	justify-content: center;
	align-items: center;

	a+a {
		margin-left:20px;
	}
}

.appsTitle {
	margin-top:3px;
	font-size:21px;
	font-weight:bold;
	color:white;
	text-decoration:none;
}

.appsTitle:hover {
	text-decoration: none;
}

#searchArea {
	color:white;
	font-weight:bold;
	padding-right:5px;

	div {
		width:auto;
		overflow:hidden;

	}

	input {
		margin:1px 2px 3px 2px;
		min-width:300px;
	}

}

.darkModeSwitch {
	padding-top:3px;

	img {
		width:23px;
		height:23px;
		margin-top:0;
	}
}


/* Links to parent pages in the header */	
.breadCrumbs {
	font-size:12px;
	margin-bottom:10px;
}

/* Style for the Quick Search */
.autocomplete-suggestions {
	background:#FFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align:left;
	overflow:scroll;
	box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.5);
}

.autocomplete-suggestions div {
	padding:5px 0;
	line-height:15px;
	padding-left:3px;
}

.autocomplete-selected {
	background-color: #3875d7;
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color:white;
}

.autocomplete-suggestion strong {
	font-weight:normal;
	background-color:rgba(255,255,127,0.5);
}	

.autocomplete-selected strong {
	font-weight:normal;
	background-color:#545477;
}

.resultCategory {
	font-weight:bold;
    background:linear-gradient(to bottom, rgba(128,128,128,0.7) 0%, rgba(128,128,128,0.4) 24%,transparent 100%);
    padding-top:8px;
    text-align: center;
    padding-bottom:3px;
}
	


footer {
	display:flex;
	align-items:center;
	justify-content: center;
	flex-wrap:wrap;

	.darkModeSwitch {
	
		img {
			margin-top:-2px;
			margin-left:5px;
			vertical-align:middle;
		}
	}

	a {
		color:rgb(180,180,180);

		.fas, .fa {
			color:white;
		}
	}

	a+a {
		margin-left:30px;
	}

	/* footer */
	#footerHomeLink {
		position:absolute;
		right:0;
		margin-right:10px;
		text-align: right;
		

		img {
			height:32px;

			// vertical-align:bottom;
		}
	}



}


#sidebar {
	display:none;
	background-color:#EEE;
	position: absolute;
	width: 280px;
	box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.5);
	z-index:500;

	ul {
		list-style:none;
		padding:0;
		margin:0;

		ul {
			margin-left:1em;
			margin-bottom:0.5em;
		}
	}

}

.sidebarCell  {
	padding:6px 7px 8px 7px;

	a {
		font-size:15px;
		text-decoration:none;
		font-weight:normal;
		color:inherit;
		display: block;
	}
}

/* Sidebar Section Headings */
.sidebarHeading {
	font-weight:bold;
	background:$accentColor;
	color:white;
	font-size:18px;
	padding:5px;
	margin-bottom:5px;
}

.sidebarHeading .tinytip {
	margin-top:3px;
	margin-left:15px;
	float:right;
}

#sidebarPeopleFind {
	select {
		width:100%;
		margin-bottom:15px;
	}

	label[for="sidebarSearch"] {
		display:flex;
		flex-wrap:wrap;
		

	}

	#sidebarSearch {
		flex:1;
	}

	.button {
		margin-left:6px;
	}
}

#appsTitleSmallWidth {
	display:none;
	text-align:center;
}

/* Title for Applications if PageTitle is set */
.titleBar  {
	background-color:$accentColor;
	padding:5px;
	margin-top:6px;
	margin-bottom:5px;
	color:white;
	font-weight:normal;
	border-radius: 4px;
	overflow:hidden;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.titleBar h1 {
	display:inline;
	font-size:26px;
	margin:0 3px;
}


/* Buttons that go on titleBar */
.adminControl {
	display:flex;
	flex-wrap: wrap;
	align-items: center;

	a {
		margin: 3px;
		display:inline-block;
		text-align: center;
	}
}

#titleBar .adminControl a {
		padding-top:2px;
		padding-bottom:2px;
}



@media (max-width: 950px) {
	#headerUsername {
		display:none;
	}
}

@media (max-width: 800px) {
	#headerEPLLogo img {
		display:none;
	}
	.appsTitle {
		margin-bottom:4px;
	}
}


@media (max-width: 700px) {
	#headerLeftSection #yourImage {
		margin-left:15px;
	}

	#sidebarButton {
		display:block;
		margin-left:3px;
	}

	#headerEPLLogo {
		display:none;
	}

	#appsTitleSmallWidth {
		display:block;
		margin:auto;
	}

	#searchArea {
		padding-left:3px;
		width:100%;
		flex-basis:100%;
		display: flex;
		justify-content: space-between;
		align-items:baseline;
		padding-right:3px;
	}

	#searchArea input {
		flex:1;
		margin-left:5px;
		min-width: 100px;
	}


	nav {
		display:none;
	}

	.extText {
		display:none;
	}


	/* Keep phones from zooming into input fields. 736 handles an iPhone 6 Plus in landscape or
	smaller. IMO, 16px is a little too large and it's goofy if you change a window size and the
	fonts get bigger. I can't yet think of a better way to do this, other than disallowing zoom,
	which is a usability concern.
	*/
	input, textarea, select {
		font-size: 16px;
	}

}

@media (max-width: 350px) {
	#logoutButton i {
		display:none;
	}
}



/* This ensures that the footer doesn't overlap floated elements */
#footerSpacer {
	clear:both;
	height:40px;
}


/* Styles for Modal Dialogue/Popover
   This is for content that pops up in a big box
*/
.BigPopover {
	display:none;
	position:fixed;
	top:5%;
	left:5%;
	right:5%;
	background-color:#EEE;
	border:1px solid #444;
	padding:15px;
	margin-top:6px;
	width:90%;
	max-height:90%;
	z-index:205;
	-moz-box-shadow: 3px 3px 20px #222;
	-webkit-box-shadow: 3px 3px 20px #222;
	box-shadow: 3px 3px 20px #222;
	border-radius: 18px;
	overflow:auto;

}

/* Heading used in Popover/modal dialogue */
.popHeading {
	text-align:center;
	margin-top:0;margin-bottom:10px;
	font-weight:bold;
}


/* Responsive popover handling */
@media (max-width:500px) {
	#footerHomeLink {
		display:none;
	}

	.BigPopover {
		top:2%;
		left:2%;
		right:2%;
		padding:10px;
		width:96% !important;
	}
}

.closeButton {
	position:absolute;
	top:0px;
	right:0px;
	z-index:210;
	background-image: url('/Resources/Images/xIcon_shadow.svg');
	background-size:35px 35px;
	width:35px;
	height:35px;
}

.closeButton:hover {
	background-image: url('/Resources/Images/xIcon_bigshadow.svg');
}


#escHelp {
	margin:4px 0px 4px 0px;
	font-size:13px;
	color:#888;
	position:absolute;
	top:-3px;
	right:22px;
	display:none;
	z-index:210;
}

.backCurtain {
	/* This was to support stupid IE8 that didn't allow for translucent colors */
	/*background-image:url(/Resources/images/alpha-black-30.png);*/
	background-color: rgba(0,0,0,0.3);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:201;
}
