
// EPL logo colours
$eplMagenta: #E40E62;
$eplPink: $eplMagenta;
$eplPurple: #7C4199;
$eplGreen: #7BC143;
$eplYellow: #FDBB30;
$eplBlue: #009DDC;
$eplLightBlue: $eplBlue;
$eplDarkBlue: #004B8D;

// Main dark blue accent colour used for headings, buttons, table headings, etc
$accentColor: $eplDarkBlue;

$defaultFontSize: 15px;